---
import { Image } from "astro:assets";
import BaseLayout from '../layouts/BaseLayout.astro';

import imageOfMe from '../../public/assets/hero.png';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <Image 
        src={imageOfMe} 
        alt="Kurt wearing sunglasses and a beanie, gazing into the distance with a relaxed expression"
        loading="eager"
        widths={[300, 600, 900]}
        sizes="(max-width: 900px) 100vw, 900px" 
        class="image-border" />
    </figure>
    <p> 
      Hey there! I’m Kurt, a full-stack web developer who enjoys building accessible, user-friendly applications and exploring new technologies. This blog is mostly about tech—things I’m learning, experimenting with, or just find interesting.
    </p>

    <p>
      Outside of coding, I have a few hobbies that keep me busy. I enjoy doing puzzles, am learning Sean-nós dancing, and love making pottery (with varying degrees of success). I’m also a devoted Ipswich Town supporter, a frequent runner, and the proud human of Penny, my dog.
    </p>

    <p>
      I used to tinker a lot with microcontrollers and Raspberry Pis—though it’s been a while -  my collection is gathering dust. Maybe this blog will inspire me to dive back in 🤷
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  .image-border {
    border:solid 4px var(--primary-color);
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
